<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zehao.tripapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    
    <!-- 百度API所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    
    <uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.zehao.tripapp.TripApplication"
        android:allowBackup="true"
        android:icon="@drawable/image_app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppHeaderTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zRVZ79xxQBwKTpB2eQ3LHyr7" >
        </meta-data>
        <activity
            android:name="com.zehao.tripapp.welcome.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.zehao.tripapp.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <!-- 退出应用 -->
        <activity android:name="com.zehao.tripapp.LastActivity" />
        <!-- 第一次进入App导航 -->
        <activity
            android:name="com.zehao.tripapp.welcome.GuideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <!-- 图片上传 -->
        <activity android:name="com.zehao.tripapp.upload.UploadActivity" />
        <!-- 相册 -->
        <activity android:name="com.zehao.tripapp.picture.PictureActivity" />
        <activity android:name="com.zehao.tripapp.picture.ImagePagerActivity" />
        <activity android:name="com.zehao.tripapp.picture.WaterfallActivity" />
        <activity android:name="com.zehao.tripapp.picture.TakePhotoActivity" />
        <activity android:name="com.zehao.tripapp.picture.GalleryUrlActivity" />
        
        <!-- 登录-->
        <activity android:name="com.zehao.tripapp.login.LoginActivity" />
        
        <!-- 注册-->
        <activity android:name="com.zehao.tripapp.register.SigninActivity" />
        <activity android:name="com.zehao.tripapp.register.IconActivity" />
        
        <!-- 景区-->
        <activity android:name="com.zehao.tripapp.area.AreaActivity" />
        
        <!-- 景点-->
        <activity android:name="com.zehao.tripapp.point.PointActivity" />
        
        <!-- 景色-->
        <activity android:name="com.zehao.tripapp.detail.DetailActivity" />
        
        <!-- 其它-->
        <activity android:name="com.zehao.tripapp.others.OthersActivity" />
        <activity android:name="com.zehao.tripapp.others.SortActivity" />
        
        <!-- 路线推荐-->
        <activity android:name="com.zehao.tripapp.advice.AdviceLineActivity" />
        
        <!-- 我的信息-->
        <activity android:name="com.zehao.tripapp.mine.MineActivity" />
        
        <!-- 修改个人信息-->
        <activity android:name="com.zehao.tripapp.info.InfoActivity" />
        
        <!-- 用户反馈-->
        <activity android:name="com.zehao.tripapp.suggest.SuggestActivity" />
        
        <!-- 地图定位 -->
        <!-- <activity android:name="com.zehao.tripapp.map.LocationDemo" /> -->
        <!-- 路线导航 -->
        <!-- <activity android:name="com.zehao.tripapp.map.RoutePlanDemo" /> -->
        <activity android:name="com.zehao.tripapp.map.RouteActivity" />
        <activity android:name="com.zehao.tripapp.map.RouteBeforeActivity" />
        
       <!--  分享 -->
       <activity
 			android:name="com.mob.tools.MobUIShell"
 			android:theme="@android:style/Theme.Translucent.NoTitleBar"
 			android:configChanges="keyboardHidden|orientation|screenSize"
 			android:screenOrientation="portrait"
 			android:windowSoftInputMode="stateHidden|adjustResize" >
 			<intent-filter>
 				<data android:scheme="tencent100371282" />
 				<action android:name="android.intent.action.VIEW" />
 				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<!-- 调用新浪原生SDK，需要注册的回调activity -->
			<intent-filter>
				<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
 		</activity>
        <activity
 			android:name="cn.sharesdk.framework.ShareSDKUIShell"
 			android:theme="@android:style/Theme.Translucent.NoTitleBar"
 			android:configChanges="keyboardHidden|orientation|screenSize"
 			android:screenOrientation="portrait"
 			android:windowSoftInputMode="stateHidden|adjustResize" >
 			<intent-filter>
 			<data android:scheme="1105101442" />
 			<action android:name="android.intent.action.VIEW" />
 			<category android:name="android.intent.category.BROWSABLE" />
 			<category android:name="android.intent.category.DEFAULT" />
 			</intent-filter>
 		</activity>
 		<!--微信分享回调 -->
 		<activity
 			android:name=".wxapi.WXEntryActivity"
 			android:theme="@android:style/Theme.Translucent.NoTitleBar"
 			android:configChanges="keyboardHidden|orientation|screenSize"
 			android:exported="true"
 			android:screenOrientation="portrait" />
        
        <!-- 定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

</manifest>
